<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wiziq</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="icon" type="image/png" href="">
        <link rel="stylesheet" type="text/css" href="asset/style/reset.css">
        <link rel="stylesheet" type="text/css" href="asset/style/fonts.css">
        {{#if isRTL}}
            <link rel="stylesheet/less" type="text/css" href="asset/style/rtlCustom.less">
        {{else}}
            <link rel="stylesheet/less" type="text/css" href="asset/style/custom.less">
        {{/if}}
        <script src="asset/script/lib/less.js"></script>
        <!-- Only for dev environment-->
    </head>
    <body>
        <div id="pageWrapper">
            <header id="pageHeader" className="moduleBody">
                {{pageHeader}}
            </header>
            <section id="courseListing" class="moduleBody">
                {{courseListing}}
            </section>
            <footer id="pageFooter" class="moduleBody">
                {{pageFooter}}
            </footer>
        </div>
        <!-- END #pageWrapper -->
        <script src="asset/script/lib/jquery.js"></script>
        <script src="asset/script/main.js"></script>
    </body>
</html>