/*** All Global and default styles below ***/

// Global variables*/
    @orange: #f5892d;
    @blue: #007fc5;
    @gray: #333;
    @lightGray: #666;
    @lightestGray: #888;
    @black: #000;
    @white: #FFF;
    @green: #33cc33;
    @disable: #ededed;
    @labelColor: #676767;
    @inputColor:#999;
    @largestFont: 30px;
    @largerFont: 24px;
    @largeFont: 18px;
    @smallFont: 14px;
    @smallerFont: 13px;
    @smallestFont: 12px;
    @globalImagePath: "../image";
    @globalFontFamily: 'openSans';

/*START - Tags Specific*/
    * { margin:0; padding:0; background-repeat:no-repeat;}
    body { background: #fff; font-family: @globalFontFamily; font-weight: 300; font-size: @smallFont; color: @gray}
    a, a:visited, a:hover{ color: @orange; text-decoration: none;}
    a:hover { text-decoration: none;}
    a:active, a:focus { outline: none;}
    h1,h2,h3,h4 { font-weight: normal; margin: 0;}
    table { text-align: left;}
    textarea {resize: vertical;} /* Allow only vertical resizing of textareas. */
    p,h2,h3 {orphans: 3;widows: 3;} /* Define the minimal number of words (orphans & widows) that every line should contain. */
    ul,li,ol { list-style: none; margin: 0;}
/*END - Tags Specific*/

/*START - Prefix Specific*/
    .inputPlaceHolder {color: @lightestGray; font-size: @smallestFont + 1; opacity: 1;}
    ::-webkit-input-placeholder {.inputPlaceHolder}
    :-moz-placeholder { /* Firefox 18- */ .inputPlaceHolder}
    ::-moz-placeholder { /* Firefox 19+ */.inputPlaceHolder}
    :-ms-input-placeholder { .inputPlaceHolder}
/*END - Prefix Specific*/

/*START - Class & ID Specific*/
    .clearfix:before, .clearfix:after, .row:before, .row:after {content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}
    .row:after, .clearfix:after {clear: both; }
    .row, .clearfix {zoom: 1; }
    .fl { float: left;}
    .fr { float: right;}
    .hideText { text-indent: 100%; white-space: nowrap; overflow: hidden;}
    #pageWrapper { margin: 0; padding: 0;}
    .moduleBody {
        .moduleWrapper { width: 1182px; margin: 0 auto; box-sizing: border-box;}
    }
    .vMiddleWrap { display: table;}
    .vMiddle { display: table-cell; vertical-align: middle;}
    
    html body #pageWrapper .cta { text-transform: uppercase;
        a { line-height: normal; padding: 10px 15px; text-align: center; display: block;}
        &.inline { display: inline-block;}
        &.wired {border-radius: 4px; border:1px @orange solid;
            a { color: @orange;}
            &.wired:hover { background: #FEECD9}
        }
        &.noRadius { border-radius: 6px; border: 3px solid #ededed; padding: 10px 15px; color: @lightGray; font-size: @largerFont;
            .strike { text-decoration: line-through; font-size: @smallerFont}
            .moreInfo { font-size: @smallerFont; text-transform: none; padding-bottom: 8px;
                span { display: block; padding-bottom: 5px;
                    &:last-child { padding: 0;}
                }
            }
            .userInfo { position: relative;
                img { display: block; margin: 0 auto;}
                figcaption { display: block; box-sizing: border-box; padding: 10px 0 0;
                    a { padding:0; line-height: 18px; color: @blue; text-transform: capitalize; font-size: @smallFont + 1;}
                }
            }
            &.inlineBlc { display: inline-block; min-width: 50%; max-width: 50%;}
        }
        &.filledOrng { background: #f78200; border-radius: 4px; position: relative; border-bottom: 6px #C05F0B solid;
            a { color: @white; font-weight: 900; font-size: @largeFont - 2; padding-bottom: 6px;}
            &:after { content: ''; background: #f78200; position: absolute; left: 0; bottom: -2px; width: 100%; height: 4px; border-radius: 0 0 4px 4px;}
            &:hover { background: #F99A2F;
                &:after { background: #F99A2F;}
            }
        }

        &.filledOrng2 { background: #f78200; border-radius: 4px; position: relative; 
            a { color: @white; font-weight: 900; font-size: @largeFont - 2;}
            &[type='button'] { border:0; padding: 10px 15px; font-size: @smallFont; color: @white; cursor: pointer;}
            &:hover { background: #F99A2F;}
        }
    }
/*END - Class Name Specific*/

/*START - Mixin
    @icon - For global icon. Just defined the bg position.
    @bgImg - For gloal bg image. Just give "img name", "bg-position" & "bg-repeat"
    @column - For creating column. Just give "width" & "floating" 
*/
    .icon(@position) { background-image: url("@{globalImagePath}/iconSprite.png"); background-repeat: no-repeat; background-position: @position;}
    .bgImg (@img, @position, @repeat) { background: url("@{globalImagePath}/@{img}") @position @repeat;}
    .column (@width, @float) { width: @width; float: @float; box-sizing: border-box;}
/*END - Mixin*/

/*START - Animation Key Frames*/
    .enableEasing (@duration, @easing) {
        -webkit-transition: -webkit-transform @duration @easing;
        -moz-transition: -moz-transform @duration @easing;
        -ms-transition: -ms-transform @duration @easing;
        transition: transform @duration @easing;
    }

    .collaps (@deg) {
        -webkit-transform: rotateX(@deg);
        -moz-transform: rotateX(@deg);
        -ms-transform: rotateX(@deg);
        transform: rotateX(@deg);
    }

    .expend(@deg) {
        -webkit-transform: rotateX(@deg);
        -moz-transform: rotateX(@deg);
        -ms-transform: rotateX(@deg);
        transform: rotateX(@deg);
    }

/*END - Animation Key Frames*/
    
/*START - Page Header*/
    #pageHeader { box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3); min-height: 70px;
        .logo { float: left; padding-top: 12px;}
        .pageHeadNavWrap { float: right;}
        .pageHeadNav { 
            li { float: left; vertical-align: top; color: @lightestGray; font-size: @smallFont; margin-left: 30px; text-transform: capitalize;
                a { text-decoration: none; color: @lightestGray; line-height: 70px; display: block;
                    &:hover {color: @orange;}
                }
                &.active { 
                    a {color: @orange;}
                }
                &.cta { margin-top: 14px;}
            }
        }
    } 
    #hamBurgerMenu { display: none;}
/*END -   Page Header*/

/*START - Page Footer*/
    #pageFooter { border-top: 2px solid #e5e5e5;
        .col-1 { .column(35%, left); color: @lightGray; padding: 20px 0;
            p { font-size: @smallestFont;}
            h4 { font-size: @largestFont + 4;}
        }
        .col-2 { .column(45%, left);}
        .col-3 { .column(20%, left); text-align: right; padding-top: 1.5%; direction: rtl; 
            figure { display: table; direction: rtl;}
            img { float: right;}
            figcaption { float: none; display: table-cell; vertical-align: middle; line-height: 18px; padding-right: 6px;}
        }
        .appPlatform { 
            li { float: left; line-height: 16px; position: relative; margin-right: 30px; border-right: 1px solid #e5e5e5;
                a { font-size: @smallFont; font-weight: 100; height: 57px; padding: 25px 20px 0 43px; display: block; color: @lightGray; text-decoration: none; 
                    span.os { display: block; padding-top: 5px; font-style: normal; font-size: @largeFont + 2; color: @lightGray; font-weight: 300;}
                }
                &:before { content: ""; position: absolute; left: 0; top: 20px; width: 37px; height: 44px; .bgImg('oa_sprite.png', 0 0, no-repeat);}
                &:last-child { margin-right: 0; border:0;}
                &.android::before { background-position: right 0;}
            }
        }
    }
/*END -   Page Footer*/

/*START - Course Listing*/
    #courseListing, #webinarListing {
        .title { font-size: @largerFont;}
        .moduleWrapper { padding: 20px 0 30px;}
    }
    .courseQuickLinks  { padding-right: 18px;
        > li { font-size: @smallestFont; text-transform: uppercase; margin-left: 10px; float: right; position: relative;
            > a { display: inline-block; padding-left: 5px; color: @blue; text-decoration: none; .bgImg('grayArrowSmall.gif', right center, no-repeat); padding-right: 18px; text-transform: capitalize;}
            .options { display: none; .enableEasing(.3s, ease); position: absolute; right: 0; top: 20px; z-index: 10; background: #FFF; width: 200px; border: 1px solid #cccccc; border-radius: 5px;
                li { font-size: @smallestFont; text-transform: capitalize; margin-bottom: 10px;
                    a { color: @blue; display: block; padding: 0 0 0 33px; position: relative;
                        &:before { content: ''; position: absolute; left: 10px; top: -1px; width: 13px; height: 14px; .icon(-84px -83px);}
                    }
                    &:first-child { margin-top: 10px;}
                    &.active {
                        a:before { background-position: -24px -83px;}
                    }
                }
            }
            &.hide {
                .options { .collaps(90deg);}
            }
            &.slide {
                > a { .bgImg('grayArrowSmallUp.gif', right center, no-repeat);}
                .options { .expend(0)}
            }
            
        }
    }
    .courseList { margin-top: 15px;
        .item { margin-bottom: 20px; .bgImg('dottedBorder.gif', 0 bottom, repeat-x); padding-bottom: 30px;
            &:last-child { background: none; margin-bottom: 0;}
            > .col-1 { .column(20%, left);}
            > .col-2 { .column(60%, left); padding: 0 2%;}
            > .col-3 { .column(20%, left);}
            .courseImg { border-radius: 5px; border: 1px #cccccc solid; padding: 5px; position: relative;
                a { display: block; height: 152px; overflow: hidden;}  
                img { width: 100%; height: auto; display: block;}
                .captionWrap { position: absolute; bottom: 5px; left: 0; width: 100%; height: 48px; color: @white; line-height: 16px;  
                    .gutter { height: 48px; background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0; margin: 0 5px;}
                    .academy { width: 44px; height: 48px; float: left; margin: 0 0 0 13px; position: relative; top: 10px; background: #FFF; padding: 3px; border: 1px #cccccc solid; border-radius: 5px; display: block;}
                    img { width: 100%; max-height: 48px;}
                    .vMiddleWrap { display: table;
                        .vMiddle { display: table-cell; vertical-align: middle;}
                    }
                    .caption { display: block; margin-left: 72px; padding: 8px 10px 0 0; font-size: @smallestFont;}
                }
            }
            .ctaGroup {
                li { margin-bottom: 20px;
                    &:last-child { margin: 0;}
                }
                a { display: block;}
            }
            .content {
                h2 { font-size: @largerFont; line-height: 35px; color: @blue; text-transform: capitalize; margin-bottom: 10px;
                    a { color: @blue;}
                }
                .shortInfo { line-height: 18px; margin-bottom: 10px;}
                .placed {
                    li { font-size: @smallestFont; padding-left: 40px; position: relative;
                        .date { display: block; padding-top: 3px; }
                        &:before { content: ''; position: absolute; left: 0; top: 0; width: 40px; height: 40px; .icon(-18px -16px);}
                    }
                }
                .type { margin-top: 15px;
                    li { float: left; font-size: @largeFont; margin-right: 20px; text-transform: uppercase;
                        .no { display: block;}
                    }
                }
            }
        }
        &.details {margin-top: 20px;
            .item {
                .courseImg { border-radius: 0; border: 0; padding: 0; position: relative; 
                    > img { width: 100%; height: auto; max-height: 152px; display: block; border-radius: 5px; border: 1px #cccccc solid;}
                    .captionWrap { position: static; width: auto; height: auto; color: @white; line-height: 16px;  
                        .gutter { height: auto; background: none; margin: 0; padding-top: 15px;}
                        .academy { float: left; margin: 0; position: static; border: 0; padding: 0;}
                        img { width: auto;}
                        .caption { margin-left: 58px; color: @gray; padding: 0; font-size: @smallFont;}
                    }
                    &.inline { border: 1px solid #cccccc; border-radius: 5px; padding: 10px;
                        > img { border:0; border-radius: 0; width: 100%; max-width: 65px; display: block; margin: 0 auto;}
                        .captionWrap { color: @gray; text-align: center; padding: 10px 0 0 0;} 
                    }
                }
                .content {
                    h2 { font-size: @largestFont; color: @gray;}
                    .shortDiscription { margin-bottom: 20px; line-height: 18px;}
                    .relatedOpt { background: #F0F0F0; padding: 15px 15px 23px;} 
                    .placed { 
                        li { font-size: @smallestFont + 2; 
                            .calenderDate { display: block; position: absolute; left: 1px; top: 10px; width: 29px; font-size: @smallestFont - 1; text-align: center;}
                            .date { padding-top: 7px; }
                            &:before { background-position: -135px -72px;}
                            &:first-child { min-height: 40px;}
                        }
                    }
                    .type {
                        li { font-size: @smallestFont; font-weight: 100;
                            .no { font-size: @largeFont; font-weight: 300;}
                        }
                    }
                    .classFixtures { margin: 20px 0 0 0;
                        .cta { margin: 10px 0 0 0;}
                    }
                }
                .ctaGroup {
                    .type { padding: 0 0 10px 0; position: relative;
                        &:after { content: ''; position: absolute; left: -15px; bottom: 0; padding: 0 15px; width: 100%; height: 1px; background: #ededed;}
                        li { font-size: @smallestFont; font-weight: 100; margin: 0 15px 0 0; color: @gray; display: inline-block;
                            .no { font-size: @largeFont; font-weight: 300; display: block;}
                        }
                    }
                    .msg { font-size: @smallestFont; color: @green;}   
                }
                .innerTabsWrap { padding: 0 0 0 0; margin: 15px 0 0 0;
                    .tabs { position: relative; z-index: 10;
                        li { float: left; text-transform: capitalize;
                            a { display: block; border: 1px #fff solid; border-bottom-color: #ddd; padding: 15px 15px; color: @blue; border-top-left-radius: 5px; border-top-right-radius: 5px; margin-right: 10px;}
                            &:first-child { 
                                
                            }
                            &:last-child { margin-right: 0;}
                            &.active {
                                a { color: @gray; border-color: #dddddd; border-bottom-color: #FFF}
                            }
                        }
                    }
                    .tabsContentWrap { border:1px #dddddd solid; border-radius: 5px; border-top-left-radius: 0; position: relative; top: -1px; padding: 10px; max-height: 300px; overflow-y: auto; 
                        .contentOfTab { display: none;
                            &.active { display: block;}
                        }
                        .scheduleList { 
                            li { padding-bottom: 10px; margin-bottom: 10px; position: relative; clear: both;
                                &:after { content: ''; width: 100%; padding: 0 10px; height: 1px; background: #dddddd; position: absolute; left: -10px; bottom: 0;}
                                &:last-child:after {
                                    display: none;
                                }
                                &:last-child {
                                    padding: 0; margin: 0;
                                }
                            }
                            .col-1 {.column(65%, left); padding-right: 5%; font-size: @smallestFont;}
                            .col-2 {.column(35%, left); text-align: right}
                            .recurringDate { font-weight: 900;}
                            p { margin-bottom: 6px;
                                &:last-child { margin-bottom: 0;}
                            }
                        }
                    }
                }
            }
        }
        &.webinar {
            .item {
                .col-2 { .column(80%, left); padding: 0 2% 0 0;}
                .col-3 { .column(20%, left);}
                .ctaGroup {
                    text-align: center;
                }
            }
        }
    } 
/*END -   Course Listing*/

/*START - Breadcrumbs*/
    #breadcrumbs { border-bottom: 1px #f1f1f1 solid;
        .moduleGutter { padding: 9px 0;}
        .wrapper { 
            > li { font-size: @smallestFont; color: @lightGray; line-height: 13px; float: left;
                a { display: block; color: @blue; text-decoration: none;}
                a::after { content: "/"; padding: 0 10px;}
            }
        }
    }
/*END -   Breadcrumbs*/

/*START - Tabs*/
    #courseTabs { margin-bottom: 30px}
    .tabsHeadWrapper { border-bottom: 1px #eee7db solid;
        .tabsHead { 
            li { float: left; border: 1px #eee7db solid; border-right: 0; background-color: #FFF8EB; bottom: -1px; position: relative;
                a { display: block; line-height: 52px; padding: 0 20px 0 40px; color: @blue; position: relative;
                    &:before { content:''; position: absolute; left: 15px; top: 18px; width: 25px; height: 25px;}    
                }
                &:last-child { border-right: 1px #eee7db solid;}
                &.active { background: #FFF; border-bottom-color: #FFF;
                    a { color: @gray;}
                }
                
                &.overview {
                    a:before { .icon(-263px -84px);}
                }
                &.schedule{
                    a:before { .icon(-201px -82px);}
                }
                &.host{
                    a:before { .icon(-321px -142px);}
                }
                &.discussion{
                    a:before { .icon(-259px -142px);}
                }
            }
        }
    }
    .tabsContent { padding: 30px 0 0 0; 
        .moduleWrapper { display: none; min-height: 300px;
            &.active { display: block;}
        }
    }
    .primaryDetail {
        .title { font-size: @largeFont; font-weight: 900; margin-bottom: 15px;
            .count { background: @inputColor; border-radius: 10px; font-weight: 100; font-size: @smallestFont - 3; line-height: 11px; padding: 0 10px; color: @white; position: relative; top: -3px;}
        }
        p { font-size: @smallFont; line-height: 20px; margin-bottom: 15px;}
        .hostedLang { position: relative; padding-left: 35px;
            &:before { content: ''; width: 25px; height: 23px; .icon(-377px -137px); position: absolute; left: 0; top: 0;}
        }
        h3 { font-size: @largeFont - 2; font-weight: 900; line-height: 20px; margin-bottom: 15px;
            &.lang {
                span { font-weight: 300;}
            }
        }
        ul { margin: 0 0 15px 15px;
            li { list-style: disc outside; font-size: @smallFont; margin-bottom: 6px;}
            &.accordionWrapper { margin: 0;
                li { list-style: none; margin: 0;}
            }
        }
        .host { display: inline-block; text-align: center;
            img { border: 1px solid #cccccc; border-radius: 5px; padding: 10px; max-width: 65px; height: auto;}
            figcaption { padding-top: 10px;}
        }
        .formElement {
            .fieldList { margin: 0;
                li { list-style: none;}
                textarea { width: 75%;}
            }
        }
    }
    .secondryDetail { border-top: 1px solid #e0e0e0; padding-top: 15px;
        .title { font-size: @largeFont; font-weight: 900; margin-bottom: 15px;}
        .col-1 { float: left; }
        .col-2 { margin-left: 130px;
            p { margin-bottom: 15px;}
        }
        .academyImg {
            img { width: 100%; height: auto; max-width: 110px;}
            figcaption { display: block; padding-top: 6px;
                .location { display: block; padding-top: 5px;}
            }
        }
        .academyMeta { background: #F8F9F9; padding: 0 8px; overflow: hidden;
            li { float: left; font-size: @largeFont + 2; font-weight: 900; text-transform: uppercase; padding: 8px 10px 8px 0;
                span.name { font-size: @smallestFont; font-weight: 100; color: @lightestGray; display: inline-block; padding-left: 5px;}
            }
        }
    }

    .accordionWrapper { padding: 20px 0 0;
        > li {
            &:last-child {
                .accordionHead { border-bottom: 1px solid #e0ded8;
                    &.ui-accordion-header-active { border-bottom: 0;}
                }
            }
        }
        .accordionHead { background: #fff8eb; height: 54px; border-top: 1px solid #e0ded8; position: relative; outline: none;
            .col-1 { .column(260px, left); padding-left: 20px;}
            .col-2 { margin-left: 260px; padding-right: 46px}
            .caption-1, .caption-2 { font-size: @largeFont; font-weight: 900; line-height: 54px; color: @blue; text-transform: capitalize; }
            &:after { content: ""; height: 26px; width: 26px; position: absolute; right: 10px; top: 16px; .icon(-17px -137px)}
            &.ui-accordion-header-active:after { .icon(-77px -137px)}
            &.ui-accordion-header-active { background: #FFF;
                .caption-1, .caption-2 { color: @black;}    
            }
        }
        .accordionContent { 
            .col-1 { .column(260px, left); padding-left: 20px; margin-bottom: 15px;}
            .col-2 { margin-left: 260px; margin-bottom: 15px;}
            .allWeek { .bgImg('dottedBorder.gif', 0 bottom, repeat-x);}
        }
        .tableGrid { width: 100%;
            tbody {
                tr {
                    &:last-child {
                        td { border-bottom: 0;}
                    }
                }
                td { font-size: @smallerFont; line-height: 13px; font-weight: 300; color: @gray; padding: 20px 20px 20px 0; vertical-align: top; border-bottom: 1px dotted #a3a3a3;
                    &:last-child { padding-right: 0;}
                    span { display: block;}
                    &.table-col-1 { .column(16%, none);}
                    &.table-col-2 { .column(16%, none);}
                    &.video {
                        span { width: 20px; height: 13px; .icon(-140px -144px); .hideText;}
                    }
                    &.doc {
                        span { width: 20px; height: 24px; .icon(-200px -138px); .hideText;}
                    }
                }
            }
            
        }
    }
/*END -   Tabs*/

/*START - Hero Image Full Width*/
    #heroImg { .bgImg('/heroImg/banner_image.jpg', center 0, no-repeat);}
    .fullBgImg { border-bottom: 1px solid #1e201d;
        .col-1 { .column(50%, left);}
        .col-2 { .column(50%, left);}
        .copy { padding: 16% 10% 0 0; color: @white;
            h1 { font-size: @largestFont; margin-bottom: 10px;}
            p { font-size: @largeFont - 2; line-height: 22px;}
            .appDownload { margin-top: 15px;
                li { float: left; width: 155px; margin-right: 15px; transition: opacity 200ms linear;
                    a { display: block; height: 45px; .hideText;}
                    &.ios {
                        a { .bgImg('appStorePlayStore.png', 0 0, no-repeat);}
                    }
                    &.android {
                        a { .bgImg('appStorePlayStore.png', 0 -45px, no-repeat);}
                    }
                    &:hover { opacity: 0.7;}
                }
            } 
        }
        .contentImg { position: relative; top: 1px; padding-top: 5px;
            img { max-width: 100%; height: auto;}
        }
    }
/*END -   Hero Image Full Width*/

/*START - Hero Image Half Height*/
    #heroHalfImg { .bgImg('/heroImg/backgroundimg.jpg', center 0, no-repeat); background-size: 100% auto;}
    .halfBgImg {
        .moduleWrapper { height: 208px; display: table;} 
        .copy { color: @white; text-align: center; display: table-cell; vertical-align: middle;
            h1 { font-size: @largestFont + 18; font-weight: 900; margin-bottom: 15px;}
            p { font-size: @largeFont; line-height: 22px; font-style: italic;}
        }
    }
/*END -   Hero Image Full Width*/

/*START - 50% Grid*/
    .grid50 {
        .title { font-size: @largestFont + 2; color: @orange; text-align: center; padding: 30px 0;}
        .col-1 { .column(50%, left); padding: 0 10% 20px 0;}
        .col-2 { .column(50%, left)}
    }
/*END - 50% Grid*/

/*START - Highlighter*/
    .highlighter {
        li { margin-top: 20px; height: 99px; padding: 10px 10px 0; .bgImg('triangular.png', 0 -218px, repeat-x); position: relative; border-radius: 4px; border-top-right-radius: 0; border-bottom-right-radius: 0; cursor: pointer;
            * { position: relative; z-index: 2;}
            h3 { font-size: @largeFont + 1; font-weight: 900; margin-bottom: 8px;}
            p { font-size: @smallerFont; line-height: 18px;}
            .triangle { width: 56px; height: 100%; position: absolute; left: 100%; top: 0; .bgImg('triangular.png', 0 0, no-repeat);}
            &:after, &:before { content: ''; opacity: 0; transition: opacity 300ms linear; position: absolute; top: 0;}  

            &:hover, &.active { color: @white;
                &:after { width: 56px; height: 100%; left: 100%; z-index: 3; opacity: 1; .bgImg('triangular.png', 0 -109px, no-repeat);}
                &:before { width: 100%; height: 100%; left: 0; opacity: 1; .bgImg('triangular.png', 0 -328px, repeat-x); border-radius: 4px; border-top-right-radius: 0; border-bottom-right-radius: 0;}    
            }
        }
    }

    #appFeatures {
        .moduleWrapper { padding-bottom: 20px;}
        .contentImg { display: none; height: 528px;
            &.active { display: block;
                img { height: auto; max-height: 100%;}
            }
        }
    }
/*END - Highlighter*/

/*START - MostPopular*/
    .tiles {
        .title { font-size: @largerFont - 2; text-align: center; margin: 20px 0;}
        .cta { margin: 0 10px 40px;}
    }

    .tilesList {
        .item { box-sizing: border-box; width: 25%; float: left; padding: 0 10px; margin-bottom: 20px;
            .innerContent { height: 325px; border: 1px solid #e8e8e8; border-radius: 5px; padding: 10px 10px 42px; box-sizing: border-box; position: relative;}
            img { width: 100%; height: 150px;}
            figure {
                figcaption { font-size: @largeFont; color: @blue; line-height: 20px; padding: 5px 0 0;
                    a { color: @blue;}
                    small { display: block; font-size: @smallerFont; color: @gray; line-height: normal; margin-top: 8px;}    
                }
            } 
            .price { font-size: @largerFont; position: absolute; left: 10px; bottom: 10px;
                .strikeIt{ font-size: @smallFont; text-decoration: line-through;}
            }
        }
    }
/*END - MostPopular*/

/*START - Datepicker*/
    .inLineDatePicker {
        .ui-datepicker-title  { display: none;}
        .ui-datepicker { border:3px solid #ededed; background: #FFF; padding: 0 8px 8px; border-radius: 3px; max-width: 200px;
            .ui-datepicker-header { font-size: @largeFont; background: #ededed; color: @gray; text-transform: capitalize; text-align: center; padding: 8px 8px; width: 100%; position: relative; left: -8px;
                a { color: @gray;}
            }
            .ui-datepicker-calendar { background: #FFF; width: 100%; font-size: @smallestFont - 1;
                thead { 
                    th { padding-top: 10px; padding-bottom: 10px; text-align: center;
                        &:first-child { padding-left: 5px}
                        &:last-child { padding-right: 5px;}
                    }

                }
                tbody { 
                    td { text-align: center; padding: 3px 0; line-height: 18px;
                        &:first-child { padding-left: 5px;}
                        &:last-child { padding-right: 5px;}    
                        &.dp-highlight { background: #EDEDED}
                        &.dp-highlight.ui-state-disabled { color: @gray;}
                        &.ui-state-disabled  { color: @disable;}
                        a { color: @black;}
                    }
                    tr:last-child {
                        td { padding-bottom: 7px;}
                    } 
                    
                }
            }
        }   
    }
     
/*END - Datepicker*/

/*Start - Generic*/
    #signIn { min-height: 600px;}
    .generic { padding: 30px 0 0 0;
        .title { font-size: @largerFont; text-align: center;}
        .formElement { padding-bottom:20px; 
            .relatedInfo { font-size: @smallFont + 1; text-align: center; display: block; width: 100%; margin: 15px 0 20px;}
            .fieldList { width: 50%; margin: 20px auto 0; max-width: 335px; text-align: center;}
            .fieldBtn { text-align: left;} 
            .separator { position: relative; font-size: @smallFont; background: #FFF; border: 1px solid #E0E0E0; display: inline-block; padding: 8px 6px; border-radius: 22px; margin: 10px 0 0 0;
                &:before { content: ''; width: 100%; padding: 0 600%; height: 15px; border-bottom: 1px dashed #cccccc; position: absolute; left: -600%; top: 0; z-index: -1;}
            }
            .phoneNum { display: block; padding: 20px 0;
                .no { display: inline-block;
                    &:first-child { position: relative; padding-left: 20px;
                        &:before { content: ''; width: 17px; height: 14px; position: absolute; left: 0; top: 0; .icon(-382px -83px);}
                    }
                }
            }
        }
        &.withBG { padding: 30px 0; background: #F5892D; color: @white;}
    }
    .formElement {
        .fieldList {
            .subTitle { text-align: left; padding-bottom: 15px; font-weight: 900;}
            .field { margin-bottom: 20px; text-align: left;
                label { display: block; margin-bottom: 8px; color: @labelColor;}
                .selectionField {
                    .col-1 { .column(50%, left);}
                    .col-2 { .column(50%, left); font-size: @smallestFont; text-align: right; color: @gray; padding: 1px 0 0;
                        a { color: @blue;}
                    }
                    div:first-child { text-align: left;}
                    input {
                        &[type='checkbox'] { float: left;}
                    }
                    label { float: left; margin: 0 0 0 10px;}
                }
            }
            
            input {
                &[type='text'], &[type='email'], &[type='tel'], &[type='password'] { width: 100%; font-weight: 100; font-size: @smallestFont + 1; color: @inputColor; font-family: @globalFontFamily; padding: 10px 10px; line-height: normal; background: #fff; border-radius: 5px; border:1px solid #ccc; box-sizing: border-box;}
            }
            textarea { width: 100%; box-sizing: border-box; background: #fff; border-radius: 5px; border:1px solid #ccc; padding: 6px 10px; font-weight: 100; font-size: @smallFont; color: @inputColor; font-family: @globalFontFamily;}
            .fieldOpt { box-sizing: border-box; border-radius: 5px; border:1px solid #ccc; padding: 9px 10px 9px 6px;
                select { -webkit-appearance: none; -moz-appearance: none; appearance: none; width: 100%; padding: 0; margin: 0; background: none; border:0; font-weight: 100; font-size: @smallestFont + 1; color: @inputColor; .bgImg('grayArrowSmall.gif', right 7px, no-repeat);}
            }                
            
        }
    }
/*END - Generic*/