/*** All Global and default styles below ***/

// Global variables*/
    
/*START - Page Header*/
    #pageHeader { 
        .logo { float: right;
            @media only screen and (max-width: 767px){
                float: none;
            }
        }
        .pageHeadNavWrap { float: left;}
        .pageHeadNav { 
            li { float: right; text-align: right;}
        }
    }  
/*END -   Page Header*/

/*START - Page Footer*/
    #pageFooter { 
        .col-1, .col-2, .col-3 { float: right; text-align: right;
            @media only screen and (max-width: 767px){
                text-align: center;
            }
        }
        .col-3 { text-align: left; direction: ltr;
            figure { direction: ltr;}
            img { float: left;}
            figcaption { text-align: right; padding: 0 0 0 6px;}
        }
        .appPlatform {
            @media only screen and (max-width: 767px){
                direction: rtl; font-size: 0; 
            } 
            li { float: right; border-right-width:0; border-left:1px solid #e5e5e5; margin: 0 0 0 30px; 
                @media only screen and (max-width: 767px){
                    float: none; display: inline-block; margin-left: 10px;
                }
                a { padding: 25px 43px 0 20px}
                &:before { right: 0; left: auto;}
                &:last-child { margin: 0;}
            }
        }
    }
/*END -   Page Footer*/

/*START - Course Listing*/
    #courseListing, #webinarListing {
        .title { text-align: right;}
    }
    .courseQuickLinks  { 
        > li { float: left; text-align: right;
            @media only screen and (max-width: 767px){
                float: right;
            }
            > a { float: left; padding: 0 5px 0 18px; background-position: left center;}
            .options { right: auto; left: 0;
                @media only screen and (max-width: 767px){
                    left: auto; right: 0;
                }
                li { 
                    a { padding: 0 33px 0 0;
                        &:before { left: auto; right: 10px; top: -1px;}
                    }
                }
            }
            &.slide {
                > a { background-position: 0 center;}
            }
        }
    }
    .courseList { margin-top: 15px;
        .item { 
            .col-1, .col-2, .col-3 { float: right;}
            .ctaGroup {
                li { text-align: right;
                    @media only screen and (max-width: 767px){
                        &.wired { float: right;}
                    }
                }
            }
            .content { text-align: right;
                .placed { 
                    li { padding: 0 40px 0 0;
                        span { }
                        &:before { left: auto; right: -14px;}
                    }
                }
                .type {
                    li { float: right; margin: 10px 0 0 20px;}
                }
            }
            .courseImg {                 
                .captionWrap { text-align: right;
                    .academy { float: right; margin: 0 13px 0 0;}
                    .caption { margin: 0 72px 0 0; padding: 8px 0 0 10px;}
                }
            }
            
        }
        &.details {
            .item {
                .courseImg { 
                    .captionWrap { 
                        .academy { float: right; }
                        .caption { margin: 0 58px 0 0;}
                    }
                }
                .content {
                    .placed { 
                        li {
                            .calenderDate { right: -3px; left: auto;}
                        }
                    }
                    .type {
                        li { margin: 0 0 0 20px;}
                    }
                }
                .ctaGroup { text-align: right;
                    .type { direction: rtl;}
                    
                }
                .innerTabsWrap { 
                    .tabs {
                        li { float: right; 
                            a { margin: 0 0 0 10px;}
                        }
                    }
                    .tabsContentWrap { border-top-right-radius: 0; border-top-left-radius: 5px;
                        .scheduleList { 
                            .col-1 { float: right; padding: 0 0 0 5%;}
                            .col-2 { float: right; text-align: left;}
                            
                        }
                    }
                }
            }
        }
        &.webinar {
            .item {
                .col-2 { float: right; padding: 0 0 0 2%;}
                .col-3 { float: right;}
                .ctaGroup {
                    text-align: center;
                }
            }
        }
    } 
/*END -   Course Listing*/

/*START - Breadcrumbs*/
    #breadcrumbs { 
        .wrapper { 
            > li { float: right;
                a:after { content: ""; padding: 0 0;}
                a:before { content: "/"; padding: 0 10px;}
            }
        }
    }
/*END -   Breadcrumbs*/

/*START - Tabs*/
    .tabsHeadWrapper { 
        .tabsHead { 
            li { float: right; border: 1px #eee7db solid; border-left: 0;
                a { padding: 0 40px 0 20px;
                    &:before { left: auto; right: 5px}    
                }
                &:last-child { border-left: 1px #eee7db solid;}
                
            }
        }
    }
    .primaryDetail { text-align: right;
        
        ul { margin: 0 15px 15px 0;
            li { direction: rtl;}
            &.accordionWrapper { margin: 0;
                li { list-style: none; margin: 0;}
            }
        }
        .hostedLang { padding: 0 35px 0 0;
            &:before { left: auto; right: 0;}
        }
        .formElement {
            .fieldList { 
                li { text-align: right;}
                
            }
        }
    }

    .secondryDetail { text-align: right;
        .col-1 { float: right; }
        .col-2 { margin: 0 130px 0 0;}
        .academyMeta { 
            li { float: right;}
        }
    }
    .accordionWrapper { 
        .accordionHead { 
            .col-1 { float: right; padding: 0 20px 0 0;}
            .col-2 { padding: 0 0 0 46px; margin: 0 260px 0 0;
                @media only screen and (max-width: 767px){
                    margin: 0; padding-right: 10px;
                }
            }
            &:after { right: auto; left: 10px;}
        }
        .accordionContent { 
            .col-1 { float: right; padding: 0 20px 0 0;}
            .col-2 { padding: 0 0 0 0; margin: 0 260px 0 0;
                @media only screen and (max-width: 767px){
                    margin: 0 0 15px; padding: 0 10px;
                }
            }
        }
        .tableGrid {
            tbody {
                tr {
                    &:last-child {
                        td { border-bottom: 0;}
                    }
                }
                td { text-align: right;
                    &.table-col-1 { padding-right: 8px; padding-left: 0;}
                }
            }
        }
    }
    
/*END -   Tabs*/

/*START - MostPopular*/
    .tilesList {
        .item { float: right; 
            figure {
                figcaption { text-align: right;}
            } 
            .price { text-align: right; left: auto; right: 10px;}
        }
    }
/*END - MostPopular*/

    .ui-datepicker {
        .ui-datepicker-header { left: auto; right: -8px;}
    }

/*START - Hero Image Full Width*/
    
    .fullBgImg { 
        .col-1, .col-2 { float: right; text-align: right;}
        .copy { 
            .appDownload { 
                li { float: right; margin: 0 0 0 15px;}
            } 
        }
    }
/*END -   Hero Image Full Width*/

/*START - 50% Grid*/
    .grid50 {
        .col-1 { float: right; padding: 0 0 20px 10%;}
        .col-2 { float: right;}
    }
/*END - 50% Grid*/

/*START - Highlighter*/
    .highlighter {
        li { text-align: right;
            .triangle { left: auto; right: 100%; transform: rotateY(180deg);}
            &:hover, &.active { 
                &:after { left: auto; right: 100%; transform: rotateY(180deg); }
                &:before { border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-top-left-radius: 0; border-bottom-left-radius: 0;
                    @media only screen and (max-width: 1024px){
                        border-radius: 4px;
                    }
                }

            }
        }
    }

    #appFeatures {
        .contentImg { text-align: right;
            &.active { display: block;
                img { height: auto; max-height: 100%;}
            }
        }
    }
/*END - Highlighter*/

/*Start - Generic*/
    .generic { 
        .formElement { 
            .fieldBtn { text-align: right;} 
            .phoneNum { direction: rtl;
                .no { 
                    &:first-child { padding: 0 20px 0 0;
                        &:before { left: auto; right: 0;}
                    }
                }
            }
        }
    }
    .formElement {
        .fieldList {
            .subTitle { text-align: right;}
            .field { 
                label { text-align: right;}
                .selectionField {
                    .col-1, .col-2 { float: right; }
                    .col-2 { text-align: left;
                        a { text-align: right;}
                    }
                    div:first-child { text-align: right;}
                    input {
                        &[type='checkbox'] { float: right;}
                    }
                    label { float: right; margin: 0 10px 0 0;}
                }
            }
            
            input {
                &[type='text'], &[type='email'], &[type='tel'], &[type='password'] { text-align: right;}
            }
            textarea { text-align: right;}
            .fieldOpt { 
                select { text-align: right; background-position: 0 9px;}
            }
        }
    }
/*END - Generic*/