<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wiziq</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/png" href="">
    <link rel="stylesheet" type="text/css" href="asset/style/fonts.css">
    <link rel="stylesheet" type="text/css" href="asset/style/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="asset/style/bootstrap-theme.min.css">
    <link rel="stylesheet/less" type="text/css" href="asset/style/custom.less">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
   
   <!--
    <script src="https://fb.me/react-0.14.0.js" />
    <script src="https://fb.me/react-dom-0.14.0.js" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js" />
   -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    
    <script src="asset/script/lib/less.js"></script> <!-- Only for dev environment-->
</head>

<body>
    <div id="jsxcontainer"></div>
    <div id="pageWrapper" class="container-fluid">
        <div id="mainGrid" class="row">
            <aside class="col-sm-2 leftPane" id="leftNavContainer">
                <%- leftNavOutput %>
                <!-- END #leftNav -->
            </aside><!-- END .leftPane -->
            <section class="col-sm-10 rightPane">
                <ul class="btnGroup clearfix">
                    <li class="fr"><a class="btn btn-default" href="#" role="button">Create</a></li>
                </ul>
                <div id="myCourses" class="moduleWrapper">
                    <h1 class="moduleTitle" onclick="javascript:alert('hi');"><%- pageData.blockTitle %></h1>
                    <div class="tabs">
                        <ul class="tabsHead">
                            <li data-tab="active" class="tabItem active"><a href="#">Active</a></li>
                            <li data-tab="drafts" class="tabItem"><a href="#">Drafts</a></li>
                            <li data-tab="past" class="tabItem"><a href="#">Past</a></li>
                        </ul>
                        <ul class="tabsRelatedLinks clearfix">
                            <li class="fl">Show: <a href="#">All Courses</a></li>
                            <li class="sorting fr">Sort By: <a href="#">Date</a></li>
                        </ul>
                    </div>
                    <div class="tabContentWrap" id="tabContentWrap">
                           <%- reactOutput %>
                    </div>
                </div><!-- END #myCourses -->
            </section><!-- END .rightPane -->
        </div><!-- END #mainGrid -->
    </div><!-- END #pageWrapper -->
    <script src="asset/script/lib/handlebars.js"></script>
  
    
</body>

</html>
