<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wiziq</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/png" href="">
    <link rel="stylesheet" type="text/css" href="asset/style/reset.css">
    <link rel="stylesheet" type="text/css" href="asset/style/fonts.css">
    <link rel="stylesheet/less" type="text/css" href="asset/style/custom.less">
    <script src="asset/script/lib/less.js"></script>
    <!-- Only for dev environment-->
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react-intl/1.2.2/react-intl.js"></script>

    <div id="pageWrapper">
        <div id="container_cHeader_header">
            <%- cHeader_header %>
        </div>
        <div id="container_heroHalfImg">
            <section id="heroHalfImg" class="moduleBody halfBgImg">
                <div class="moduleWrapper clearfix">
                    <div class="col-1 copy">
                        <h1>LearnDesk Online Academy</h1>
                        <p>Proving the concept of WizIQ - Online Academy Platform</p>
                    </div>
                </div>
            </section>
        </div>
        <div id="container_cDiscover_discover">
            <%- cDiscover_discover %>
        </div>
        <div id="container_pageFooter">
            <footer id="pageFooter" class="moduleBody">
                <div class="moduleWrapper clearfix">
                    <div class="col-1">
                        <p>Learn on the go.</p>
                        <h4>Anytime. Anywhere.</h4>
                    </div>
                    <ul class="appPlatform col-2 clearfix">
                        <li class="ios">
                            <a href="//itunes.apple.com/us/app/wiziq/id540018386?mt=8" target="_blank">
                                Available on
                                <span>App Store</span>
                            </a>
                        </li>
                        <li class="android">
                            <a href="https://play.google.com/store/apps/details?id=air.com.wiziq.ipadvc" target="_blank">
                                Download for
                                <span>Android</span>
                            </a>
                        </li>
                    </ul>
                    <div class="col-3">
                        <figure class="clearfix">
                            <img src="asset/image/wiziq.png" alt="">
                            <figcaption>Powered by</figcaption>
                        </figure>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- END #pageWrapper -->
    <script src="asset/script/lib/jquery.js"></script>
    <script src="asset/script/main.js"></script>
</body>

</html>
