<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wiziq</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/png" href="">
    <link rel="stylesheet" type="text/css" href="/asset/style/reset.css">
    <link rel="stylesheet" type="text/css" href="/asset/style/fonts.css">
    <link rel="stylesheet/less" type="text/css" href="/asset/style/custom.less">
    <script src="/asset/script/lib/less.js"></script>
    <!-- Only for dev environment-->
</head>

<body>
    <div id="pageWrapper">
        <div id="container_cHeader_header"><%- cHeader_header %></div>
        <div><%-data_of_cHeader_header%></div>

        <div>
            <section id="breadcrumbs" class="moduleBody">
                <div class="moduleWrapper">
                    <div class="moduleGutter">
                        <ul class="wrapper clearfix">
                            <li><a href="#">Courses</a></li>
                            <li>CPR Online Training</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div>
            <section id="webinarsDetails" class="moduleBody">
                <div class="moduleWrapper">
                    <ul class="courseList details">
                        <li class="item clearfix">
                            <div class="col-1">
                                <figure class="courseImg inline">
                                    <img src="/asset/image/user/Rajinder-69268.jpg" alt="" />
                                    <figcaption class="captionWrap">
                                        Rajinder
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-2 content">
                                <h2>Public class - 0001</h2>
                                <div class="relatedOpt">
                                    <ul class="placed">
                                        <li>
                                            <span class="calenderDate">20 Aug</span> 2015 04:45 AM (CST)
                                            <span class="date">Take place daily (all 7 days)</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="classFixtures">
                                    <p>This class ran for 17 minutes</p>
                                    <div class="cta filledOrng2 inline">
                                        <a href="#">VIEW RECORDING</a>
                                    </div>
                                </div>
                                <div class="innerTabsWrap">
                                    <ul class="tabs clearfix">
                                        <li data-tab="schedule" class="active"><a href="#">Class Schedule</a></li>
                                        <li data-tab="sessions"><a href="#">Sessions Joined by you</a></li>
                                    </ul>
                                    <div class="tabsContentWrap">
                                        <div data-tab="schedule" class="contentOfTab">
                                            <ul class="scheduleList">
                                                <li>
                                                    <div class="clearfix">
                                                        <div class="col-1">
                                                            <p class="recurringDate">Tuesday, 18 Aug 15 08:11 AM CST</p>
                                                            <p>Member attended: 1</p>
                                                            <p>The class is over</p>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="cta filledOrng2 inline"><a href="#">View Recording</a></div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="clearfix">
                                                        <div class="col-1">
                                                            <p class="recurringDate">Tuesday, 18 Aug 15 08:11 AM CST</p>
                                                            <p>Member attended: 1</p>
                                                            <p>The class is over</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="clearfix">
                                                        <div class="col-1">
                                                            <p class="recurringDate">Tuesday, 18 Aug 15 08:11 AM CST</p>
                                                            <p>Member attended: 1</p>
                                                            <p>The class is over</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="clearfix">
                                                        <div class="col-1">
                                                            <p class="recurringDate">Tuesday, 18 Aug 15 08:11 AM CST</p>
                                                            <p>Member attended: 1</p>
                                                            <p>The class is over</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-tab="sessions" class="contentOfTab">
                                            <p>You have not joined in any class of this recurring series. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <ul class="ctaGroup">
                                    <li class="cta noRadius">
                                        <ul class="type">
                                            <li>
                                                <span class="no">60</span> MINUTES
                                            </li>
                                            <li>
                                                <span class="no">0</span> Attendees
                                            </li>
                                        </ul>
                                        <span class="msg"> THIS CLASS IS OVER</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div>
            <section id="webinarsTabs">
                <div class="tabsHeadWrapper moduleBody">
                    <ul class="tabsHead moduleWrapper clearfix">
                        <li class="overview" data-tab="aboutClass"><a href="#">About the class</a></li>
                        <li class="host" data-tab="aboutHost"><a href="#">About the Host</a></li>
                        <li class="discussion" data-tab="discussion"><a href="#">Discussion</a></li>
                    </ul>
                </div>
                <div class="tabsContent moduleBody">
                    <div data-tab="aboutClass" class="moduleWrapper">
                        <div class="primaryDetail">
                            <h2 class="title">About the class</h2>
                            <p class="hostedLang">This webinar is hosted in English</p>
                            <p>public</p>
                        </div>
                    </div>
                    <div data-tab="aboutHost" class="moduleWrapper">
                        <div class="primaryDetail">
                            <h2 class="title">About the Host</h2>
                            <figure class="host">
                                <img src="/asset/image/user/Rajinder-69268.jpg" alt="" />
                                <figcaption>Rajinder</figcaption>
                            </figure>
                        </div>
                    </div>
                    <div data-tab="discussion" class="moduleWrapper">
                        <div class="primaryDetail">
                            <h2 class="title">Discussion thread <span class="count">0</span></h2>
                            <div class="formElement">
                                <form>
                                    <fieldset>
                                        <ul class="fieldList">
                                            <li class="field">
                                                <textarea placeholder="Have a question or want to say something? Post it here." name="thread" id="discussion" cols="30" rows="5"></textarea>
                                            </li>
                                            <li class="fieldBtn">
                                                <input class="cta filledOrng2" type="button" value="Post" />
                                            </li>
                                        </ul>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="container_cFooter_footer"><%- cFooter_footer %></div>
        <div><%-data_of_cFooter_footer%></div>
    </div>
    <!-- END #pageWrapper -->
    <script src="/asset/script/lib/jquery.js"></script>
    <script src="/asset/script/lib/jquery-ui.min.js"></script>
    <script src="/asset/script/main.js"></script>
</body>

</html>
